@import '~@angular/material/theming';

$footer-height: 96px;

header {
  position: fixed;
  height: auto;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 1;
}

#grid-cont {
  height: auto;
  min-height: calc(100% - #{$footer-height});
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 64px;
  box-sizing: border-box;
  transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  .grid-cont-wrapper {
    height: auto;
    padding: 0px 16px;
  }
}

footer {
  position: relative;
  z-index: 0;
  width: 100%;
  height: $footer-height;
  padding-left: 0px;
  box-sizing: border-box;
  clear: left;
  transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  .footer-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-angular-logo {
      height: 50px;
    }
    .footer-license-description {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      min-width: 225px;
      text-align: center;
      span {
        font-size: 12px;
      }
    }
  }
}

.qp-ui-mask-modal {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.1;
  visibility: hidden;
  background-color: $cdk-overlay-dark-backdrop-background;
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateZ(0);
  &.mask-modal_visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    .footer-wrapper {
      .footer-license-description {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
