:host{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-wrapper{
    height: 100%;
    overflow-y: auto;
    
    .main-wrapper__content{
        height: 1800px;
        margin-top: 64px;   //md-toolbar min-height: 64px
        border-left: 3px dashed orange;
        border-bottom: 1px solid green;
    }

}