<md-sidenav-container class="m-sidenav-container" fullscreen>

  <md-sidenav align="start" #sidenav class="example-sidenav">
  Jolly good!
  </md-sidenav>

  <app-navigation-panel></app-navigation-panel>

  <div class="main-container" role="main">
    <div class="tight-div">

      


      <h1>
        {{title}}
      </h1>

      <button md-raised-button>
        Angular Material works!
        <md-icon>done</md-icon>
      </button>


        <button md-button (click)="sidenav.open()">
                  Open sidenav
                </button>



        
    </div>
  </div>
</md-sidenav-container>