<mat-sidenav-container class="mat-app-background">
  <header>
    <app-navigation-panel></app-navigation-panel>
  </header>

  <app-navigation-side-nav #sidenav></app-navigation-side-nav>

  <div id="grid-cont" role="main">
    <div class="grid-cont-wrapper">
      <h3>Routing pages</h3>
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="mat-primary">
    <div class="footer-wrapper">
      <img alt="angular" class="footer-angular-logo" src="../assets/angular-white-transparent.svg">
    </div>
  </footer>

  <div class="qp-ui-mask-modal" [class.mask-modal_visible]="maskModalVisible" (click)="maskModalClose()"></div>
</mat-sidenav-container>