/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url(~material-design-icons/iconfont/material-icons.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);


html, body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}