<md-toolbar class="mat-elevation-z6" color="primary">

    <div class="container" role="navigation">

      <div class="logo-block">
        <a href="/">
          <img src="assets/icons/logo.png" alt="logo.png"/>
        </a>
      </div>

      <div class="menu-block">

        <div class="menu-block__links-list">
            <ul>
              <li><button md-button>О нас</button></li>
              <li><button md-button>Услуги</button></li>
              <li><button md-button>Цены</button></li>
              <li><button md-button>Онлайн заказ</button></li>
            </ul>
          </div>
      </div>

    </div>
    <button md-button (click)="sideNavOpen()">
                Open sidenav
    </button>



</md-toolbar>



