.container{
    position: relative;

    // border: 1px solid red;
    width: 100%;
    height: 100%;


    .logo-block{
        display: block;
        position: relative;
        width: 30%;
        height: 100%;

        float: right;


  
        .logo-block__logo{
            position: absolute;
            height: 90%;
            width: 70px;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;

            &>svg{

                width: 100%;
                height: 100%;

                .ground{
                    fill: lightskyblue;
                    
                }
                .kiwi{
                    fill:white;
                    transform-origin: center;
                }

                &:hover{

                    .ground{
                        filter: url(#pictureFilter)
                    }

                    .kiwi{
                        animation:  rotate .9s linear;
                    }

                    @keyframes rotate {
                    0% { transform: rotateY(0deg); }
                    25% { 
                        transform: rotateY(90deg);
                        fill:white;
                        }
                    75% {   
                        transform: rotateY(270deg);
                        fill:gold;
                        }
                    100% { 
                        transform: rotateY(360deg);
                        fill:white; 
                        }
                    } 
                }
            }
        }

    }


    .menu-block{
        display: block;
        position: relative;
        width: 70%;
        height: 100%;

        float: left;

        // background: green;

        .mobile-sidenav-button{
            position: relative;
            float: left;
            height: 80%;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            box-shadow: none;
            border: 0px;
            color: currentColor;
            min-width: 30px;
            width: auto;

            md-icon{
                font-size: 36px;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: auto;
                height: auto;
            }

        }


        .menu-block__links-list{

            position: relative;
            width: 100%;
            height: 100%;
            float: left;

                ul{
                position: relative;
                float: left;
                list-style: none;

                margin: 0;
                top: 50%;
                transform: translateY(-50%);

                padding-left: 0px;


                    li{
                        float: left;
                        margin-left: 5px;

                        box-sizing: content-box;

                        &:hover{
                           
                        }

                    }

                }

        }




        
    }


}